﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Episerver Getting Started</title>
</head>
<body>
    <div>This is a header on the Shared Layout page</div>
    <div> 
        @RenderBody()
    </div>
    <div>This is a footer on the Shared Layout page</div>
</body>
</html>
